.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  text-align: right;
  background-color: white;
  padding: 5px;
  color: rgb(3, 48, 132);
  width: 100%;
  font-size:  50px;
  font-weight: bold;
}

.panel1 {
  background-color: #183670;
  color: white;
  padding: 5px;
  width: 100%;
  height: 15px;
  margin-top: 0px;
  padding: 10px;
}

.panel2 {
  background-color:white;
  color: white;
  padding: 5px;
  width: 100%;
}

.gListPanel {

  text-align: right;
  margin-right: 42px;
  margin-top: -0px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  
}

.content {
  align-items: 'flex-start';
  flex-direction: column;
  flex: 1;
  clear: both;
  width: 100%;
  float: left;
}

.content-bar {
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 8px;
  background-color:white;
  width: 30%;
  float: right;
  margin-top: 0px;
  
}

.App-link {
  color: #61dafb;
}

/* Optionally, add some spacing between panel1 and panel2 */
.panel1 + .panel2 {
  margin-top: 5 px;
}

.input-label{
  color:rgb(26, 26, 145);
  font-size:  12px;
  font-weight: bold;
  padding-bottom: 4px;

}

.grey-text {
  color: #4316e7;
  background-color: rgba(241, 243, 207, 0.873);
  font-size:  12px;
  font-weight: bold;
  margin-top: 4px;
  
}

.armed {
  color: rgb(33, 103, 46);
  font-size:  9px;
  font-weight: bold;
}

.not-armed {
  color: red;
  font-size:  9px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

.save_message {
  background-color: #183670;
  color: rgba(255, 255, 255, 0.866);
  font-weight: bold;
  font-size: 13px;
  width: 35%;
  margin: 10px auto; /* Center the div horizontally */
  text-align: center;
  padding-top: 1px;
  padding-bottom: 3px;
}

.display_choices {
  position: absolute;
  right: 0;
  color: black;
  margin-right: 50px;
  text-align: right;
  direction: rtl;
  margin-top: 10px;
  color:  #183670;
  font-size:  12px;
  font-weight: bold;

}

.display_bottun {
  margin-right: 45px;
  margin-top: 5px;

}

.glist-table {
  color:rgb(26, 26, 145);
  font-size:  12px;
  font-weight: bold;
  display: 'flex';
  align-items: center;
  margin-right: 100px;

}

.table-title {
  margin-right: 20px;
  text-align : 'right';
  color:rgb(6, 6, 54);

}

.get-guarding-list-input {
  margin-right: 30px;
  margin-top:-20px;
  background-color: white;
  text-align: right; 
  justify-content: right;
  direction: rtl;
  
}

.guard-parm{
  border: 1px solid;
  background-color: #c7e8f1;
  width: 25%;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
  
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(239, 210, 211, 0.721);
  color: red;
  border:#183670 1px solid ;
  border-radius: 8px;
  padding:10px;
  padding-bottom: 14px;
  height: 10px;
  margin-bottom:5px;
  font-weight: normal;
  margin-top: 10px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  position: fixed; /* Ensure it stays fixed in the viewport */
  top: 0;
  left: 0;
}

.loading {
  border-radius: 10px;
  background-color: #183670;
  color: white;
  font-weight: bold;
  font-size: 13px;
  width: 25%;
  text-align: center;
  padding: 1px 7px 3px 7px; /* Combined padding for top, right, bottom, and left */
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  display: block;
  margin-top: -2px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%; /* Start outside the container */
  animation: marquee 2s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Start from the beginning of the span */
  }
  100% {
    transform: translateX(-100%); /* Move to the end of the span */
  }
}

.pos-details {
  background-color: #183670;
  color: white;
  width: 25%;
  height: 20px;
  font-weight: normal;
  border: 1px solid white; 
  border-radius: 5px;
  
}

.checkboxtext-label {
  margin-top: 5px;
  padding-bottom: 5px;

}

.glist-table {
  margin-top: -10px;
  margin-right: 220px;

}

.glist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table-buttons {
  justify-content: flex-end;
  display: flex;
  margin-top: 2px;
  margin-right: 120px; 
  overflow: initial;
}

.display_choice_container {
  background-color: #e8e8e8f7;
  height: 30px;
  width: 600px;
  margin-bottom: 5px;
  border-radius: 10px;

}

.display_choice_inline {
  display: inline-flex;
  margin-top: 6px;
  margin-right: 10px;
}

.custom-small-button {
  width: 5px;
  height: 40px;
}

.custom-extra-small-button {
  width: 60px;
  height: 30px;
}

.custom-small-button {
  background-color: #183670 !important;
  color: white !important;
  width: 100px !important;
  height: 20px !important;
}

.awssld__content--secondary {
  background-color: blue !important; /* Background color */
  color: white !important; /* Text color */
  border-color: darkblue !important; /* Border color */
  overflow:-moz-hidden-unscrollable;
}


.custom-medium-button {
  width: 120px;
  height: 60px;
}

.custom-large-button {
  width: 160px;
  height: 80px;
}

.custom-extra-large-button {
  width: 200px;
  height: 100px;
}

.exchange-message {
  width: 450px;
  height: 80px;
  padding: 5px;
  border-radius: 35px;
  border: 1px solid black;
  background-color: #183670;
  color: white;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.guard_procedures {
  direction: rtl; /* This sets the text direction to RTL */
  unicode-bidi: plaintext; /* This ensures the scrollbar remains on the right side */
  font-size: 14px;
  line-height: 1.6;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  color: #333;
  text-align: right; /* Align all text to the right */
  height: 400px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
}

/* Customize scrollbar */
.guard_procedures::-webkit-scrollbar {
  width: 8px; /* Change width for vertical scrollbar */
}

.guard_procedures::-webkit-scrollbar-track {
  background: rgb(255, 255, 240); /* Color of the scrollbar track */
}

.guard_procedures::-webkit-scrollbar-thumb {
  background: #183670; /* Color of the scrollbar handle */
  border-radius: 4px; /* Round corners of the scrollbar handle */
}

.guard_procedures::-webkit-scrollbar-thumb:hover {
  background: #3f5e9b; /* Color of the scrollbar handle on hover */
}

.guard_procedures h2 {
  color: #183670;
  text-align: center; /* Center the header */
}

.guard_procedures h3 {
  color: #183670;
}

.guard_procedures ul {
  list-style-type: none;
  padding: 0;
}

.guard_procedures ul li {
  margin-bottom: 10px;
}

.gate_manual {
  direction: rtl;
  font-size: 14px;
  line-height: 1.6;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  color: #333;
  text-align: right; /* Align all text to the right */
  height: 400px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
}

/* Ensure scrollbar is on the right side */
.gate_manual {
  direction: rtl; /* This makes the content RTL */
}

.gate_manual::-webkit-scrollbar {
  width: 8px; /* Change width for vertical scrollbar */
}

.gate_manual::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.gate_manual::-webkit-scrollbar-thumb {
  background: #183670; /* Color of the scrollbar handle */
  border-radius: 4px; /* Round corners of the scrollbar handle */
}

.gate_manual::-webkit-scrollbar-thumb:hover {
  background: #3f5e9b; /* Color of the scrollbar handle on hover */
}

.gate_manual h4 {
  color: #183670;
}

.gate_manual .gate-image {
  width: 70%; /* 30% smaller than original size */
  display: block;
  margin: 10px auto; /* Center the images */
}

.container {
  display: flex;
  align-items: center;
}

.display_set_list_container {
  max-height: 70vh; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  box-sizing: border-box;
  direction: rtl;
}

.table_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-buttons {
  margin-right: 0px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.exchange-reports-panel {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

.exchange-panel {
  justify-content: center;
  direction: rtl;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.bottuns-panel {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* gap between buttons */
  width: 100%;
}

.report-container {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  margin-top: 20px;
}

.reports-table {
  direction: rtl;
  font-size: 12px;
  line-height: 1.6;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  color: #333;
  text-align: right; /* Align all text to the right */
  height: 400px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
}

.reports-table td {
  padding: 2px; 
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.reports-table th {
  color:#183670;
  text-align: center;
}

.reports-table tr {
  border:#183670 1px solid;
}

.reports-table::-webkit-scrollbar {
  width: 8px; /* Change width for vertical scrollbar */
}

.reports-table::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.reports-table::-webkit-scrollbar-thumb {
  background: #183670; /* Color of the scrollbar handle */
  border-radius: 4px; /* Round corners of the scrollbar handle */
}

.reports-table::-webkit-scrollbar-thumb:hover {
  background: #3f5e9b; /* Color of the scrollbar handle on hover */
}

.create-position-container {
  border-radius: 10px;
  border: #333333 1px solid;
  direction: rtl;
  font-size: 12px;
  padding: 2px;
  background-color: #e1e8ffd5;
  border-radius: 5px;
  max-width: 800px;
  color: #333;
  text-align: right;
}


.families-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
}

.families-list {
  direction: rtl;
  font-size: 12px;
  
}

.fguard-form {
    width: 300px;
    margin: 20px;
    color: #183670;
    border:1px solid #183670;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 12px;
    padding: 20px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #183670;
    margin-top: 5px;
     
}

.form-group input[type="checkbox"] {
    width: auto;
    display: inline-block;
}

.form-group span {
    color: red;
    font-size: 12px;
}

